---
import Section from "../../../Section.astro";

const circleClass = `
  block w-2 h-2 rounded-full
  hover:opacity-60 duration-250
  transition-all cursor-pointer
`;
---

<Section
  className={`
    flex flex-row flex-wrap items-center
    justify-center relative font-code 
    text-success p-8 shadow-lg shadow-bg3
    gap-16 bg-bg3 rounded-b-lg
  `}
>
  <span
    class={`
    bg-bg2 rounded-t-lg
    w-full h-6 absolute
    left-0 -top-2 flex
    items-center px-4 py-2 gap-2
  `}
    id="fake-controls"
  >
    <span class={`${circleClass} bg-error`}></span>
    <span class={`${circleClass} bg-warning`}></span>
    <span class={`${circleClass} bg-success`}></span>
  </span>

  <slot />
</Section>
