.theme-latte {
  --color-bg1: #eff1f5;
  --color-bg2: #e6e9ef;
  --color-bg3: #dce0e8;

  --color-accent: #8839ef;
  --color-accent1: #8839ef;
  --color-accent2: #fe640b;
  --color-accent3: #1e66f5;
  --color-accent4: #dd7878;

  --color-error: #d20f39;
  --color-success: #40a02b;
  --color-warning: #df8e1d;

  --color-text: #4c4f69;
  --color-subtext-1: #5c5f77;
}
