.theme-catppuccin {
  --color-bg1: #1e1e2e;
  --color-bg2: #181825;
  --color-bg3: #11111b;

  --color-accent: #cba6f7;
  --color-accent1: #cba6f7;
  --color-accent2: #fab387;
  --color-accent3: #89b4fa;
  --color-accent4: #eba0ac;

  --color-error: #f38ba8;
  --color-success: #a6e3a1;
  --color-warning: #f9e2af;

  --color-text: #cdd6f4;
  --color-subtext-1: #bac2de;
  --astro-code-foreground: var(--color-text);
  --astro-code-background: var(--color-bg3);
  --astro-code-token-constant: #fab387;
  --astro-code-token-string: #a6e3a1;
  --astro-code-token-comment: #6c7086;
  --astro-code-token-keyword: #cba6f7;
  --astro-code-token-parameter: #f9e2af;
  --astro-code-token-function: #89b4fa;
  --astro-code-token-string-expression: #94e2d5;
  --astro-code-token-punctuation: #bac2de;
  --astro-code-token-link: #89b4fa;
  --astro-code-token-inserted: #a6e3a1;
  --astro-code-token-deleted: #f38ba8;
  --astro-code-token-changed: #f9e2af;
}
