.theme-everforest {
  --color-bg1: #2b3339; /* bg0: hard background */
  --color-bg2: #323c41; /* bg1: default background */
  --color-bg3: #3a454a; /* bg2: lighter background */

  --color-accent: #a7c080;
  --color-accent1: #a7c080;
  --color-accent2: #dbbc7f;
  --color-accent3: #7fbbb3;
  --color-accent4: #e67e80;

  --color-error: #e67e80; /* red: error */
  --color-success: #a7c080; /* green: success */
  --color-warning: #dbbc7f; /* yellow: warning */

  --color-text: #d3c6aa; /* fg: main text */
  --color-subtext-1: #d3c6aa;
}
