.theme-gh-dark {
  --color-bg1: #0d1117;
  --color-bg2: #161b22;
  --color-bg3: #21262d;

  --color-accent: #58a6ff;
  --color-accent1: #58a6ff;
  --color-accent2: #f78166;
  --color-accent3: #a5d6ff;
  --color-accent4: #d2a8ff;

  --color-error: #f85149;
  --color-success: #238636;
  --color-warning: #d29922;

  --color-text: #c9d1d9;
  --color-subtext-1: #8b949e;
}
