@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import "tailwindcss";

@import "./themes/catppuccin-mocha.css";
@import "./themes/everforest.css";
@import "./themes/github.css";
@import "./themes/onedark.css";
@import "./themes/rosepine.css";
@import "./themes/tokyonight.css";

@theme {
  --color-bg1: #1e1e2e;
  --color-bg2: #181825;
  --color-bg3: #11111b;

  --color-accent: #cba6f7;
  --color-accent1: #cba6f7;
  --color-accent2: #fab387;
  --color-accent3: #89b4fa;
  --color-accent4: #eba0ac;

  --color-error: #f38ba8;
  --color-success: #a6e3a1;
  --color-warning: #f9e2af;

  --color-text: #cdd6f4;
  --color-subtext-1: #bac2de;

  --font-code: "Source Code Pro", monospace;
  --font-audiowide: "Audiowide", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-anonymous: "Anonymous Pro", monospace;
  --font-petit-formal: "Petit Formal Script", cursive;

  --animate-blink: blink 1s infinite;
  --animate-hero: hero 1.5s cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes hero {
    0% {
      opacity: 0;
      transform: scale(4) translateY(0);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

* {
  scroll-behavior: smooth;
}

.inline-default {
  @apply flex gap-2 items-center;
}
