---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<span
  class={`
    rounded-lg grow
    bg-bg3 flex gap-4
    items-center duration-250
    transition-all cursor-pointer
    hover:bg-accent1 hover:text-bg3
    group justify-center text-center
    overflow-ellipsis whitespace-nowrap
    overflow-hidden ${className}
  `}
>
  <slot />
</span>
