---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import {
  DEFAULT_PAGE_TITLE,
  PAGE_TITLE_PREFFIX,
  type OpenGraphOptions,
} from "../utils";
import { getLangFromUrl, useTranslation } from "../config";
import OpenGraph from "../components/OpenGraph.astro";

interface Props {
  openGraph?: OpenGraphOptions;
  pageTitle?: string;
}

const { openGraph, pageTitle } = Astro.props;

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });

const title = pageTitle
  ? t(PAGE_TITLE_PREFFIX).trimEnd().concat(" - ", t(pageTitle))
  : t(DEFAULT_PAGE_TITLE);

const ogTitle = pageTitle
  ? t(DEFAULT_PAGE_TITLE).trimEnd().concat(" | ", t(pageTitle))
  : t(DEFAULT_PAGE_TITLE);


const openGraphOptions: OpenGraphOptions = {
  ...(openGraph ?? {}),
  title: ogTitle,
};
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      href="/leoalvarenga.svg"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />

    <link
      href="/leoalvarenga_alt.svg"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <OpenGraph options={openGraphOptions} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ClientRouter />
  </head>

  <body class="theme-catppuccin bg-bg1 m-0 select-none text-text w-full">
    <slot />

    <div class="hidden w-full">
      <!--
        This is a list of all colors that are present but no explicitly used;
        
        This exists here to ensure the related classnames will be available
        during development, as otherwise they would only be compiled by Tailwind
        at build time.
      -->
      <div class="flex items-center w-full flex-wrap" id="colors">
        <span class="bg-success text-success border-success w-2 h-2"></span>
        <span class="bg-error text-error border-error w-2 h-2"></span>
        <span class="bg-warning text-warning border-warning w-2 h-2"></span>
      </div>

      <script is:inline src="/scripts/ref.js"></script>
    </div>
  </body>
</html>
